__pycache__/
*.pyc
.venv/
.env
.env.local
.env.rac
.env.rac.*
.env.techlog
.env.techlog.*
uv.lock
dist/
build/
.pytest_cache/
.pylintdash/
.pylintrc_v2
.qodo
.cspell/
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep
tests/*
!tests/.gitkeep
zabbix/userparameters/*.old
zabbix/userparameters/*.bak
!zabbix/userparameters/*.conf
!zabbix/userparameters/.gitkeep

