__pycache__/
*.pyc
.venv/
.env
.env.local
uv.lock
dist/
build/
.pytest_cache/
.pylintdash/
.pylintrc_v2
.qodo
.cspell/
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep
tests/*
!tests/.gitkeep
zabbix/userparameters/*
!zabbix/userparameters/.gitkeep

